#container{
	width: 1140px;
	
}
#blog-post-container{
	width: 75%;	
	float: left;
}
.blog-post{
    position: relative;
}
.date{
    position: absolute;
    top: 0px;
    right: 200px;
}
#other-posts{
	width: 25%;	
	float: left;
    position: fixed;
    top: 20px;
    right: 55px;
}

#author-box
{
	
}