*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #f1f1f1;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: teal;
    line-height: 135%;
}

h2{
	margin-bottom: 20px;
    font-size: 2em;
}


#container{
	width: 1140px;
	margin: 20px auto;
}
#blog-post-container{
	width: 75%;	
	float: left;
}

#other-posts{
	width: 25%;	
	float: left;
	padding-left: 10px;
}

#author-box
{
	
}

.box{
	background: white;
	margin-bottom: 15px;
	padding: 20px;
    border-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 2px 2px 2px rgb(112, 105, 105);
}

.blog-post{
	position: relative;
	

}

.blog-post img{
	width: 100%;
}

.date{
	position: absolute;
	right:50px;
	top: 20px;
    font-size: 20px;
    border: 2px solid green;
    padding:3px;
}

.blog-text{
	margin-top: 15px;
    font-size: 16px;
    color: rgb(172, 111, 172);
    line-height: 22px;
    margin-bottom: 15px;
    text-align: justify;
}

.tags li{
	list-style: none;
	display: inline;
	margin-right: 5px;
}

.tags li a{
	text-decoration: none;
}

#author-box{
	border-top: 1px solid RGB(0,0,0,.125);
	padding-top: 10px;
}


#author-box img{
	border-radius: 50%;
	float: left;
}

.author-text{
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}
#share a{
    color: gray;
    margin-right: 16px;
    text-decoration: none;
    opacity: 0.6;
    
}
#share a:hover{
   
    opacity: 0.9;
    
}
